<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('./partials/_head.ejs',{title:"صفحه پیدا نشد"})%>

    <body>
        <%- include('./partials/_header.ejs')%>
            <!-- /.Main Header -->
            <%- include('./partials/_search.ejs')%>
                <!-- /.mobile-side-menu -->
                <%- include('./partials/_mobileSideShow.ejs')%>
                    <!-- ./ preloader -->
                    <%- include('./partials/_preload.ejs')%>
                        <!-- ./ page-header -->
                        <section class="error-section pt-100 pb-100">
                            <div class="container rtl">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="error-content text-center">
                                            <img src="/img/images/error-img.png" alt="error">
                                            <h3 class="title">صفحه یافت نشد</h3>
                                            <p>
                                                <%=message%>
                                            </p>
                                            <a href="/" class="rr-primary-btn">بازگشت به صفحه اصلی</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('./partials/_footer.ejs')%>
                            <!--scrollup-->

                            <%- include('./partials/_foot.ejs')%>
    </body>

</html>
