<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('./partials/_head.ejs')%>

    <body>
        <!-- header-area-start -->
        <%- include('./partials/_header.ejs')%>
            <!-- <!-- /.Main Header --> -->
            <div id="popup-search-box">
                <div class="box-inner-wrap d-flex align-items-center">
                    <form id="form" action="#" method="get" role="search">
                        <input id="popup-search" type="text" name="search" placeholder="Type keywords here...">
                    </form>
                    <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
                </div>
            </div>
            <!-- /#popup-search-box -->
            <div class="mobile-side-menu rtl">
                <div class="side-menu-content">
                    <div class="side-menu-head">
                        <a href='index.html'><img src="/img/logo/logo-1.png" alt="logo"></a>
                        <button class="mobile-side-menu-close"><i class="fa-regular fa-xmark"></i></button>
                    </div>
                    <div class="side-menu-wrap"></div>
                    <ul class="side-menu-list">
                        <li><i class="fa-light fa-location-dot"></i>آدرس : <span>کرج، عظیمیه، میدان مهران</span></li>
                        <li><i class="fa-light fa-phone"></i>شماره تماس : <a href="tel:+01569896654">026345879541</a>
                        </li>
                        <li><i class="fa-light fa-envelope"></i>آدرس ایمیل : <a
                                href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.mobile-side-menu -->

            <div id="preloader">
                <div class="preloader-close">X</div>
                <div class="sk-three-bounce">
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
                </div>
            </div>
            <!-- ./ preloader -->
            <section class="page-header">
                <div class="shape"><img src="/img/shapes/page-header-shape.png" alt="shape"></div>
                <div class="container rtl">
                    <div class="page-header-content">
                        <h1 class="title">ورود به حساب</h1>
                        <h4 class="sub-title">
                            <span class="home">
                                <a href="#">
                                    <span>خانه</span>
                                </a>
                            </span>
                            <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
                            <span class="inner">
                                <span>ورود به حساب</span>
                            </span>
                        </h4>
                    </div>
                </div>
            </section>
            <!-- ./ page-header -->
            <section class="login-area pt-100 pb-100">
                <div class="container">
                    <div class="login-wrap text-center">
                        <h3 class="title">وارد حساب کاربری خود شوید</h3>
                        <a href="#" class="google-login"><img src="/img/icon/google.png" alt="google">با گوگل وارد
                            شوید</a>
                        <span class="or-text">یا</span>
                        <%- include('./partials/_messages.ejs',msgObj)%>
                            <form action="/auth/login" method="post" class="login-form">
                                <div class="form-item">
                                    <h4 class="form-header">لطفا ایمیل خود را وارد کنید</h4>
                                    <input type="text" id="text" name="email" class="form-control"
                                        placeholder="example@gmail.com">
                                </div>
                                <div class="form-item">
                                    <h4 class="form-header">* کلمه عبور</h4>
                                    <input type="password" id="text-2" name="password" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-item">
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> مرا به خاطر بسپار</label><br>
                                    </div>
                                </div>
                                <div class="submit-btn">
                                    <button class="rr-primary-btn">ورود به حساب کاربری</button>
                                </div>
                                <a href="#" class="forgot">رمز عبور خود را گم کرده اید؟</a>
                            </form>
                    </div>
                </div>
            </section>
            <%- include('./partials/_footer.ejs')%>
                <!-- ./ footer-section -->
                <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
                <!--scrollup-->
                <%- include('./partials/_foot.ejs')%>
    </body>

</html>
