<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('./partials/_head.ejs',title)%>

    <body>
        <!-- header-area-start -->
        <%- include('./partials/_header.ejs')%>
            <%- include('./partials/_search.ejs')%>
                <div id="preloader">
                    <div class="preloader-close">X</div>
                    <div class="sk-three-bounce">
                        <div class="sk-child sk-bounce1"></div>
                        <div class="sk-child sk-bounce2"></div>
                        <div class="sk-child sk-bounce3"></div>
                    </div>
                </div>
                <!-- ./ preloader -->
                <%- include('./partials/_preload.ejs')%>
                    <!-- ./ page-header -->
                    <section class="login-area pt-100 pb-100">
                        <div class="container">
                            <div class="login-wrap text-center">
                                <%- include("./partials/_messages.ejs",msgObj)%>
                                    <h3 class="title">اطلاعات کالا خود را وارد کنید</h3>
                                    <span class="or-text">یا</span>
                                    <form action="/product/add" class="login-form" method="post"
                                        enctype="multipart/form-data">
                                        <div class="form-item">
                                            <h4 class="form-header">* دسته بندی کالا</h4>
                                            <select id="category" name="category" size="<%= category.length%>">
                                                <%category.forEach(c=>{%>
                                                    <option value="<%= c.id%>">
                                                        <%= c.name%>
                                                    </option>
                                                    <%})%>
                                            </select>
                                            <br>
                                        </div>

                                        <div class="form-item">
                                            <h4 class="form-header">* نام کالا</h4>
                                            <input type="text" id="name" name="title" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-item">
                                            <h4 class="form-header">* توضیحات کالا</h4>
                                            <textarea type="text" name='description' class="form-control"></textarea>
                                        </div>
                                        <div class="form-item">
                                            <h4 class="form-header">* قیمت کالا</h4>
                                            <input type="number" min="1" step="any" name='price' class="form-control" />
                                        </div>
                                        <div class="form-item">
                                            <h4 class="form-header">* تعداد موجودی</h4>
                                            <input type="number" id="text-2" name="stockQuantity" class="form-control">
                                        </div>
                                        <div class="form-item">
                                            <h4 class="form-header">عکس کالا در صفحه اصلی را وارد کنید</h4>
                                            <input type="file" id="title-image" name="titleImage" class="form-control">
                                        </div>
                                        <div class="form-item" id="imageDiv">
                                            <h4 class="form-header">عکس کالا در را وارد کنید</h4>
                                            <input type="file" id="image" name="images" class="form-control">
                                        </div>
                                        <div class="submit-btn">
                                            <button class="rr-primary-btn" type="submit">افزودن کالا</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                        <script>
                            const imageDiv = document.querySelector('#imageDiv');
                            let counter = 1;
                            let img = document.querySelector(`#image`);
                            function inputNew(el) {
                                const change = () => {
                                    counter++
                                    imageDiv.insertAdjacentHTML('beforeend', `
                                          <hr>
                                            <h4 class="form-header">عکس بعدی کالا در را وارد کنید</h4>
                                            <input type="file" id="image${counter}" class="form-control">
                                            `)
                                    el.removeEventListener('change', change);
                                    el = document.querySelector(`#image${counter}`);
                                    if (counter < 3) {
                                        inputNew(el)
                                    }
                                }
                                el.addEventListener('change', change);
                            }
                            inputNew(img);

                            //function selectOption() {
                                //const el = document.querySelector('select');
                                //const injectElement = ``
                                //attrEl.insertAdjacentHTML('beforeend', injectElement);
                            //}

                            //document.querySelector('select').onchange = selectOption
                        </script>
                    </section>

                    </script>
                    <%- include('./partials/_footer.ejs')%>
                        <%- include('./partials/_foot.ejs')%>
    </body>

</html>
