<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('./partials/_head.ejs',title)%>

    <body>
        <!-- header-area-start -->
        <%- include('./partials/_header.ejs')%>
            <%- include('./partials/_search.ejs')%>
                <div id="preloader">
                    <div class="preloader-close">X</div>
                    <div class="sk-three-bounce">
                        <div class="sk-child sk-bounce1">salam</div>
                        <div class="sk-child sk-bounce2">bye</div>
                        <div class="sk-child sk-bounce3">ello</div>
                    </div>
                </div>
                <!-- ./ page-header -->
                <%- include('./partials/_add-Form.ejs')%>
                    <%- include('./partials/_footer.ejs')%>
                        <%- include('./partials/_foot.ejs')%>
    </body>

</html>
